# This is Git's per-user configuration file.
[core]
# Please adapt and uncomment the following lines:
#	user = Ramon Gebben
#	email = ramon@touchtribe.nl
[user]
	name = Ramon Gebben
	email = ramon@ra-ge.net
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[core]
	excludesfile = /Users/ramon/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
